@charset "UTF-8";

// font
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

// animation
a {
	transition-timing-function: ease;
	transition-duration: 0.3s;
	transition-property: all;
}

// buttons
.btn {
	&:active,
	&.active {
		box-shadow: none;
	}
}

// navbar
.navbar-nav {
	@media (min-width: $grid-float-breakpoint) {
		> li {
			> a {
				padding-top:    ($navbar-padding-vertical / 4);
				padding-bottom: ($navbar-padding-vertical / 4);
				margin-top:     ($navbar-padding-vertical / 4 * 3);
				margin-bottom:  ($navbar-padding-vertical / 4 * 3);
				border-radius:  $border-radius-large;
			}
			> .dropdown-menu {
				margin-top: (-$navbar-padding-vertical / 4 * 3);
			}
		}
		> li:not(:last-child) {
			margin-right: ($navbar-padding-horizontal / 3);
		}
	}
}

.navbar-brand {
	margin-right: ($navbar-padding-horizontal / 3);
	font-size: $font-size-large;
}

// label
.label {
	vertical-align: 2px;
}

// フォント指定
.no-thank-yu,
.navbar,
.btn,
.form-control,
.input-gruop,
.breadcrumb,
.nav-tabs,
.nav-pills,
.panel-title,
.list-group,
.pagination,
.pager,
.alert,
.label,
.badge,
.panel-heading,
.lead,
.tooltip,
.popover {
	font-family: $font-family-sans-serif;
}
