@charset "UTF-8";

// font
@import url(#{$font-family-open-sans-import-path});

$brand-colors: (
	primary:	$brand-primary,
	success:	$brand-success,
	info:			$brand-info,
	warning:	$brand-warning,
	danger:		$brand-danger
);

// animation
a {
	transition-timing-function: ease;
	transition-duration: 0.3s;
	transition-property: all;
}

// buttons
.btn {
	@each $type, $color in $brand-colors {
		&.btn-#{$type} {
			color: $color;
			&:hover {
				color: #fff;
			}
		}
	}
	background-color: rgba(#fff, .5);
	border-width: 1.5px;
	border-radius: 0;
	&:active,
	&.active {
		box-shadow: none;
	}
	&.disabled {
		background-color: transparent;
	}
}
.dropdown-menu {
	margin: 0;
	background-color: rgba($dropdown-bg, 0.9);
	border: 0;
	box-shadow: none;
}

// navbar
.navbar {
	&.navbar-default {
		background-color: rgba(#fff, .9);
		border: 0;
		border-bottom: 1px solid $brand-primary;
		.navbar-nav {
			> li:not(.active) {
				> a:hover {
					background-color: transparent;
				}
			}
			> .active {
				> a {
					color: $text-color;
					background-color: transparent;
					&::after {
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 1px;
						content: "";
						background-color: $brand-primary;
						transform: scaleX(1);
					}
					&:hover {
						color: $text-color;
						background-color: transparent;
					}
				}
			}
			> .open {
				> a {
					color: $text-color;
					background-color: transparent;
					&:focus {
						color: $text-color;
						background-color: transparent;
						&::after {
							position: absolute;
							bottom: 0;
							left: 0;
							width: 100%;
							height: 1px;
							content: "";
							background-color: $brand-primary;
							transform: scaleX(1);
						}
					}
				}
			}
		}
	}
	&.navbar-inverse {
		background-color: rgba($gray-darker, .8);
		border: 0;
		border-bottom: 1px solid $brand-primary;
		> li {
			> a {
				&:hover {
					background-color: transparent;
				}
			}
		}
		.btn {
			color: $gray-lighter;
			&.btn-default {
				&:hover {
					background-color: $gray-darker;
				}
			}
		}
	}
	.navbar-nav {
		@media (min-width: $grid-float-breakpoint) {
			> li {
				> a {
					padding-top:    ($navbar-padding-vertical / 4);
					padding-bottom: ($navbar-padding-vertical / 4);
					margin-top:     ($navbar-padding-vertical / 4 * 3);
					margin-bottom:  ($navbar-padding-vertical / 4 * 3);
					background-color: transparent;
					&::after {
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 1px;
						content: "";
						background-color: $brand-primary;
						transition: all .3s ease;
						transform: scaleX(0);
					}
					&:hover {
						&::after {
							transform: scaleX(1);
						}
					}
				}
				> .dropdown-menu {
					margin-top: (-$navbar-padding-vertical / 4 * 3);
				}
			}
			> li:not(:last-child) {
				margin-right: ($navbar-padding-horizontal / 3);
			}
		}
	}

	.navbar-brand {
		margin-right: ($navbar-padding-horizontal / 3);
		font-size: $font-size-large;
	}
}

// label
.label {
	vertical-align: 2px;
}

// form
.form-group,
[class*="has-"] {
	.form-control {
		box-shadow: none;
	}
}

// modal
.modal {
	.modal-dialog {
		.modal-content {
			border-radius: 0;
		}
	}
}

// label
.label {
	border-radius: 0;
}

// Tabs
.nav-tabs {
	> li {
		> a {
			border-radius: 0;
		}
	}
}

// Pills
.nav-pills {
	> li {
		> a {
			border-radius: 0;
		}
		&:not(.active) {
			> a:hover {
				background-color: transparent;
			}
		}
		&.active {
			> a {
				color: $text-color;
				background-color: transparent;
				&::after {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 1px;
					content: "";
					background-color: $brand-primary;
					transform: scaleX(1);
				}
				&:hover {
					color: $text-color;
					background-color: transparent;
				}
			}
		}
		&.open {
			> a {
				color: $text-color;
				background-color: transparent;
				&:focus {
					color: $text-color;
					background-color: transparent;
					&::after {
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 1px;
						content: "";
						background-color: $brand-primary;
						transform: scaleX(1);
					}
				}
			}
		}
	}
}

// フォント指定
.no-thank-yu,
.navbar,
.btn,
.form-control,
.input-gruop,
.breadcrumb,
.nav-tabs,
.nav-pills,
.panel-title,
.list-group,
.pagination,
.pager,
.alert,
.label,
.badge,
.panel-heading,
.lead,
.tooltip,
.popover {
	font-family: $font-family-sans-serif;
}
