@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Montserrat);

@import "compass";
@import "compass/css3";

@import "honoka/variables";
@import "honoka/mixins";

$brand-honoka: #FDCEA0;
$brand-twitter: #55ACEE;
$brand-facebook: #3B5998;
$brand-hatena: #178fde;

.btn-twitter,.btn-facebook {
	.fa.fa-lg {
		vertical-align: -1px;
		margin-right: 2px;
	}
}
.btn-twitter {
	@include button-variant(#FFF, $brand-twitter, darken($brand-twitter, 2%));
}
.btn-facebook {
	@include button-variant(#FFF, $brand-facebook, darken($brand-facebook, 2%));
}
.btn-hatebu {
	@include button-variant(#FFF, $brand-hatena, darken($brand-hatena, 2%));
}

.fa.fa-hatebu:before {
	content: "B!";
	font-family: Verdana;
	font-weight: bold;
}

body {
	margin-top: $navbar-height;
}

.jumbotron.special {
	position: relative;
	overflow: hidden;
	min-height: 530px;
	margin-bottom: 0;
	text-align: center;
	background-color: $brand-honoka;
	background-image: url(/assets/img/circle.png);
	background-repeat: no-repeat;
	background-position: -35% center;
	background-size: 70%;
	.honoka {
		position: absolute;
		bottom: -20px;
		left: 0;
		height: 530px;
		width: 400px;
		background-image: url(/assets/img/honoka.png);
		background-repeat: no-repeat;
	}
	.outline {
		margin-top: 180px;
	}
	h1,
	.h1 {
		font-family: Montserrat, sans-serif;
	}
	.download {
		margin: $padding-large-vertical*4 auto $padding-large-vertical*2;
	}
	.basedon {
		color: $gray-light;
		text-shadow: #FFF 0 1px 2px;
	}
}

section.section {
	padding: ($padding-large-vertical * 10) 0;
	&.section-default {}
	&.section-inverse {
		background-color: lighten($brand-honoka, 15%);
	}
	.subtitle {
		text-align: center;
		margin-bottom: $padding-large-vertical * 2;
		h2 {
			margin-top: 0;
		}
	}
}

.point {
	.point-box {
		text-align: center;
		.point-circle {
			$point-circle-size: 100px;
			margin: 0 auto;
			width: $point-circle-size;
			height: $point-circle-size;
			font-size: $point-circle-size * 0.6;
			line-height: $point-circle-size;
			color: #fff;
			border-radius: 100%;
			&.start {
				background-color: $brand-success;
			}
			&.replace {
				background-color: $brand-warning;
			}
			&.compass {
				background-color: $brand-primary;
			}
			&.japanese {
				background-color: $brand-danger;
				span.icon-jp:before {
					content: "ã‚";
					font-weight: bold;
				}
			}
		}
		.point-description {
			h4 {
				text-align: center;
			}
			p {
				text-align: justify;
			}
		}
	}
}

.getting-started {
	h3 {
		margin-top: 0;
	}
}

.japanese-font {
	.well {
		> h3 {
			margin-top: $padding-large-vertical;
		}
	}
}


footer {
	padding: $padding-large-vertical*4 0px;
	color: $gray-lighter;
	background-color: $gray-dark;
	.social-button {
		position: relative;
		overflow: hidden;
		margin: 0px auto !important;
		padding: $padding-large-vertical 0;
		> ul {
			position: relative;
			left: 50%;
			float: left;
			margin: 0px;
			padding: 0px;
			list-style: outside none none;
			> li {
				position: relative;
				left: -50%;
				float: left;
				margin: 0px 10px;
				padding: 0px;

				.fb-like {
					> span {
						vertical-align: 0 !important;
					}
				}
			}
		}
	}
	.copyright {
		padding-top: $padding-large-vertical;
		padding-bottom: $padding-large-vertical;
	}
}

.bootstrap-default {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	> h3 {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 24px;
	}
}

